 body {
   margin: 50px;
   font-family: Helvetica, sans-serif;
   font-size: 150%;
 }

 h2{
  color: blue;
 }

 #button1{
  background: #e7e7e7;
    border: none;

    padding: 5px 25px;
      margin: 0;
      font-family: inherit;
      display: inline-block;
      cursor: pointer;
 }